.header {
  padding: 20px 0;
}

.list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  padding: 8px;
  border-radius: 8px;
  background-color: blue;
  color: white;
  text-transform: uppercase;
}
