.form_box {
  margin: 0 auto;
  width: 300px;
  margin-bottom: 30px;
  position: relative;
}
.error {
  position: absolute;
  bottom: -20px;
  left: 20%;
  color: red;
  font-weight: 500;
}
.btn {
  color: var(--color-light);
  background: var(--color-gray);
}
